server {

    listen 80 default_server;

   	#listen 443 ssl default_server;
    #ssl_certificate /path/to/full-certificate-chain.pem;
    #ssl_certificate_key /path/to/private-key.pem;

    location /elastic/ {
      rewrite ^/elastic/(.*)$ /$1 break;
      proxy_pass http://elastic:9200;
    }

    location /kibana/ {
      rewrite ^/kibana/(.*)$ /$1 break;
      proxy_pass http://kibana:5601;
    }

}
